.perceptionContainer{
    color: #77bae7;
    border: 1px solid #3498db;
    padding: 7px 10px;
    width: 300px;
    text-align: center;
    border-radius: 15px;
    background-color:  #191919;
    margin: 20px auto;
    cursor: pointer;
    transition: 0.6s;

}

.perceptionContainer:hover{
    background-color: #3498db;
    border: 2px solid  #2ecc71;
    color: whitesmoke;
}

.perception{
    background-color: #728ea1;
    padding: 20px 10px;
}

.list{
    height: 500px;
    overflow-y: auto;
    width: 500px;
    padding: 20px 10px;
}

.perceptionContainer span{
    color: white;
    font-size: 18px;
}