.perceptionContainer{
    color: #77bae7;
    border: 1px solid #3498db;
    padding: 7px 10px;
    width: 270px;
    text-align: center;
    border-radius: 15px;
    background-color:  #191919;
    margin: 20px auto;
    cursor: pointer;
    transition: 0.6s;

}

.perceptionContainer:hover{
    background-color: #3498db;
    border: 2px solid  #2ecc71;
    color: whitesmoke;
}

.perception{
    background-color: #728ea1;
    padding: 20px 10px;
    display: flex;
    justify-content: space-around;
}

.list{
    height: 500px;
    overflow-y: auto;
    width: 300px;
    padding: 20px 10px;
}

.perceptionContainer span{
    color: white;
    font-size: 18px;
}

.selectedPatientPaye{
    padding: 30px;
    background-color: rgb(54, 53, 53);
}

.selectedPatientPaye input{
    width: 100px;
    height: 30px;
    margin: 0;
    padding: 5px 10px;
}

.selectedPatientPaye h4{
    text-align: center;
    font-size: 20px;
    color: white;
}

.selectedPatientPaye td input{
    border: none !important;
}
.selectedPatientPaye tr{
    background-color: rgb(105, 103, 105);
}

.selectedPatientPaye th{
    color: #92bdda;
    margin: 10px 20px;
}

.selectedPatientPaye table input{
    padding: 0;
}

.selectedPatientPaye .profil-flex{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.bg-grey{
    background-color: rgba(0, 0, 0, .1);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    width: 50%;
}

.bg-grey span{
    background-color: white;
    display: inline-block;
    width: 50%;
    text-align: left;
    padding: 2px 20px;
}

.A4M{
    padding: 20px !important;
    font-size: 12px;
}

.A4M h2{
    margin: 20px !important;
    font-size: 18px;
    font-family: monospace;
    text-align: left !important;
    margin-left: 0 !important;
    margin-bottom: 5px !important;
}

.A4M .flex{
    display: flex;
    margin: 10px;
}

.A4M .m{
    margin-top: 50px !important;
}

.A4M .p{
    padding: 0px 10px !important;
}

.A4M table{
    width: 100%;
}

.A4M th{
    min-width: 70px !important;
}