.register-flex{
    display: flex;
    margin-bottom: 30px;
}

form input, select{
    border: 0;
    background: none;
    display: block;
    margin: 5px 20px;
    text-align : center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    font-size: 14px;
    border-radius: 24px;
    transition: 0.25s
}

form input:focus{
    border-color: #2ecc71;
}

.register-box{
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: #191919;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.register-container{
    background-color: #728ea1;
    display: flex;
    margin: 0px;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

form label{
    color: rgb(206, 206, 206);
    display: block;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1.5px;
    
}

.input-submit{
    border: 2px solid #2ecc71;
    cursor: pointer;
    width: 100px;
}

.input-submit:hover{
    background-color: #2ecc71;
}

option{
    background-color: #191919;
    margin: 10px;
    font-size: 15px;
}