.loader{
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-bottom: 5px solid rgb(0, 4, 255);
    animation: animate 3s linear infinite;
    
}
.loader::before{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;   
    right: 10px;
    border-radius: 50%;
    border-bottom: 3px solid rgb(0, 255, 0);
    animation: animate 2s linear infinite
}

.loader::after{
    content: '';
    position: absolute;
    top: 22px;
    left: 22px;
    bottom: 22px;   
    right: 22px;
    border-radius: 50%;
    border-bottom: 2px solid red;
    animation: animate 1s linear infinite
}

@keyframes animate
{
    0%{
        transform: rotate(0deg);
    }
    30%{
        transform: rotate(50deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
